<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#2.----Interactive-scatterplot..." data-toc-modified-id="2.----Interactive-scatterplot...-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>2.    Interactive scatterplot...</a></span></li><li><span><a href="#Read-in-data" data-toc-modified-id="Read-in-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Read-in data</a></span></li><li><span><a href="#Read-in-other-variables-of-interest" data-toc-modified-id="Read-in-other-variables-of-interest-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Read-in other variables of interest</a></span></li><li><span><a href="#Preparing-data-for-statistical-testing" data-toc-modified-id="Preparing-data-for-statistical-testing-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Preparing data for statistical testing</a></span></li></ul></div>

In [1]:
import pandas as pd

# 2.	Interactive scatterplot...

Showing the effects of other variables on non-response rates (e.g. speaking another language, non-native to UK, age, urban-rural, etc.)  

a.	Hypothesis is that there are factors that may make people feel they donâ€™t understand the question or may worry that there is a consequence for answering incorrectly. 

b.	Hard to disprove, but a relationship between factors like language or age and non-answering rates may suggest that the questions would benefit from more elaborate discussion or additional materials.  

c.	Not sure how this might graph.

# Read-in data

Import cleaned data. Let's start with gender identity.

In [2]:
df = pd.read_csv('/Users/loucap/Documents/GitWork/InteractiveGender/Data/gi_renamed.csv')

In [3]:
df.head()

,LA_code,LA_name,GI_code,GI_categories,Observation
0,E06000001,Hartlepool,-8,Does not apply,0
1,E06000001,Hartlepool,1,Gender identity the same as sex registered at ...,70588
2,E06000001,Hartlepool,2,Gender identity different from sex registered ...,167
3,E06000001,Hartlepool,3,Trans woman,49
4,E06000001,Hartlepool,4,Trans man,51

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2317 entries, 0 to 2316
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LA_code        2317 non-null   object
 1   LA_name        2317 non-null   object
 2   GI_code        2317 non-null   int64
 3   GI_categories  2317 non-null   object
 4   Observation    2317 non-null   int64
dtypes: int64(2), object(3)
memory usage: 90.6+ KB

In [5]:
df.GI_code.unique()

array([-8,  1,  2,  3,  4,  5,  6])

In [17]:
df.GI_categories.unique()

array(['Does not apply',
       'Gender identity the same as sex registered at birth',
       'Gender identity different from sex registered at birth but no specific identity given',
       'Trans woman', 'Trans man', 'All other gender identities',
       'Not answered'], dtype=object)

In [6]:
df.LA_name.nunique()

331

In [7]:
df.head(10)

,LA_code,LA_name,GI_code,GI_categories,Observation
0,E06000001,Hartlepool,-8,Does not apply,0
1,E06000001,Hartlepool,1,Gender identity the same as sex registered at ...,70588
2,E06000001,Hartlepool,2,Gender identity different from sex registered ...,167
3,E06000001,Hartlepool,3,Trans woman,49
4,E06000001,Hartlepool,4,Trans man,51
5,E06000001,Hartlepool,5,All other gender identities,54
6,E06000001,Hartlepool,6,Not answered,3777
7,E06000002,Middlesbrough,-8,Does not apply,0
8,E06000002,Middlesbrough,1,Gender identity the same as sex registered at ...,106009
9,E06000002,Middlesbrough,2,Gender identity different from sex registered ...,496

# Read-in other variables of interest

Let's start with language - look at those speaking another language than English

In [8]:
lang = pd.read_csv('/Users/loucap/Documents/GitWork/InteractiveGender/Data/Language_2021.csv')

In [9]:
lang

,Lower Tier Local Authorities Code,Lower Tier Local Authorities,Main language (detailed) (95 categories) Code,Main language (detailed) (95 categories),Observation
0,E06000001,Hartlepool,-8,Does not apply,2918
1,E06000001,Hartlepool,1,English (English or Welsh in Wales),87544
2,E06000001,Hartlepool,2,Welsh or Cymraeg (in England only),4
3,E06000001,Hartlepool,3,Other UK language: Gaelic (Irish),0
4,E06000001,Hartlepool,4,Other UK language: Gaelic (Scottish),0
...,...,...,...,...,...
31440,W06000024,Merthyr Tydfil,90,African language: Any other African language,4
31441,W06000024,Merthyr Tydfil,91,Sign language: British Sign Language,17
31442,W06000024,Merthyr Tydfil,92,Sign language: Any other sign language,5
31443,W06000024,Merthyr Tydfil,93,Sign language: Any sign communication system,5
31444,W06000024,Merthyr Tydfil,94,Other language,5

In [10]:
lang.rename(columns={'Lower Tier Local Authorities Code':'LA_code', 'Lower Tier Local Authorities':'LA_name', 'Main language (detailed) (95 categories) Code': 'ML_code', 'Main language (detailed) (95 categories)': 'ML_categories'}, inplace=True)

In [21]:
lang.head()

,LA_code,LA_name,ML_code,ML_categories,Observation
0,E06000001,Hartlepool,-8,Does not apply,2918
1,E06000001,Hartlepool,1,English (English or Welsh in Wales),87544
2,E06000001,Hartlepool,2,Welsh or Cymraeg (in England only),4
3,E06000001,Hartlepool,3,Other UK language: Gaelic (Irish),0
4,E06000001,Hartlepool,4,Other UK language: Gaelic (Scottish),0

In [22]:
lang.ML_code.unique()

array([-8,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94])

In [57]:
b = df[df.LA_name == 'Manchester']

In [88]:
c = df[df.LA_name == 'South Norfolk']

c

,LA_code,LA_name,GI_code,GI_categories,Observation
1190,E07000149,South Norfolk,-8,Does not apply,0
1191,E07000149,South Norfolk,1,Gender identity the same as sex registered at ...,111311
1192,E07000149,South Norfolk,2,Gender identity different from sex registered ...,116
1193,E07000149,South Norfolk,3,Trans woman,76
1194,E07000149,South Norfolk,4,Trans man,81
1195,E07000149,South Norfolk,5,All other gender identities,87
1196,E07000149,South Norfolk,6,Not answered,5551

In [87]:
c['per'] = [i/c.Observation.sum() *100 for i in c.Observation]

c

/var/folders/dm/468m4xf52c71yhldz5ck50pw0000gn/T/ipykernel_10713/1253668745.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c['per'] = [i/c.Observation.sum() *100 for i in c.Observation]

,LA_code,LA_name,GI_code,GI_categories,Observation,per
301,E06000046,Isle of Wight,-8,Does not apply,0,0.000000
302,E06000046,Isle of Wight,1,Gender identity the same as sex registered at ...,111974,93.634706
303,E06000046,Isle of Wight,2,Gender identity different from sex registered ...,130,0.108708
304,E06000046,Isle of Wight,3,Trans woman,77,0.064389
305,E06000046,Isle of Wight,4,Trans man,91,0.076096
306,E06000046,Isle of Wight,5,All other gender identities,113,0.094493
307,E06000046,Isle of Wight,6,Not answered,7201,6.021608

In [59]:
b.Observation.sum()

437958

In [61]:
b.GI_categories.unique()

array(['Does not apply',
       'Gender identity the same as sex registered at birth',
       'Gender identity different from sex registered at birth but no specific identity given',
       'Trans woman', 'Trans man', 'All other gender identities',
       'Not answered'], dtype=object)

In [60]:
b

,LA_code,LA_name,GI_code,GI_categories,Observation
1694,E08000003,Manchester,-8,Does not apply,0
1695,E08000003,Manchester,1,Gender identity the same as sex registered at ...,401445
1696,E08000003,Manchester,2,Gender identity different from sex registered ...,1988
1697,E08000003,Manchester,3,Trans woman,725
1698,E08000003,Manchester,4,Trans man,751
1699,E08000003,Manchester,5,All other gender identities,1015
1700,E08000003,Manchester,6,Not answered,32034

In [71]:
percentages = []

for i in b.Observation:
    percent = i / b.Observation.sum() * 100
    percent = percent.round(1)
    percentages.append(percent)
    
percentages

[0.0, 91.7, 0.5, 0.2, 0.2, 0.2, 7.3]

In [75]:
b['per'] = [i/b.Observation.sum() *100 for i in b.Observation]

/var/folders/dm/468m4xf52c71yhldz5ck50pw0000gn/T/ipykernel_10713/50822419.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b['per'] = [i/b.Observation.sum() *100 for i in b.Observation]

In [74]:
b

,LA_code,LA_name,GI_code,GI_categories,Observation,Percentages,per
1694,E08000003,Manchester,-8,Does not apply,0,0.0,0.000000
1695,E08000003,Manchester,1,Gender identity the same as sex registered at ...,401445,91.7,91.662899
1696,E08000003,Manchester,2,Gender identity different from sex registered ...,1988,0.5,0.453925
1697,E08000003,Manchester,3,Trans woman,725,0.2,0.165541
1698,E08000003,Manchester,4,Trans man,751,0.2,0.171478
1699,E08000003,Manchester,5,All other gender identities,1015,0.2,0.231757
1700,E08000003,Manchester,6,Not answered,32034,7.3,7.314400

In [72]:
b['Percentages'] = percentages

b

/var/folders/dm/468m4xf52c71yhldz5ck50pw0000gn/T/ipykernel_10713/3848750125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b['Percentages'] = percentages

,LA_code,LA_name,GI_code,GI_categories,Observation,Percentages
1694,E08000003,Manchester,-8,Does not apply,0,0.0
1695,E08000003,Manchester,1,Gender identity the same as sex registered at ...,401445,91.7
1696,E08000003,Manchester,2,Gender identity different from sex registered ...,1988,0.5
1697,E08000003,Manchester,3,Trans woman,725,0.2
1698,E08000003,Manchester,4,Trans man,751,0.2
1699,E08000003,Manchester,5,All other gender identities,1015,0.2
1700,E08000003,Manchester,6,Not answered,32034,7.3

# Preparing data for statistical testing

In [91]:
non_eng[:2]

[2, 3]

In [95]:
non_eng = lang.ML_code.unique()[2:].tolist()

li = []


for i in lang.ML_code:
    if i in non_eng:
        i = 2
        li.append(i)
        
li

[2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 ...]

In [104]:
# Aggregate non-English categories

non_eng2 = lang.ML_categories.unique()[2:].tolist()

In [107]:
lang.ML_code = [2 if i in non_eng else i for i in lang.ML_code]
lang.ML_categories = ['Non-English' if i in non_eng2 else i for i in lang.ML_categories]

In [112]:
lang.ML_categories.value_counts()

Non-English                            30783
Does not apply                           331
English (English or Welsh in Wales)      331
Name: ML_categories, dtype: int64