<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [2]:
he_gi = pd.read_csv('/Users/loucap/Documents/GitWork/InteractiveGender/Data/highedu_gi.csv')

In [18]:
he_gi.head()

,LA_code,LA_name,GI_code,GI_categories,HLE_code,HLE_categories,Observation
0,E06000001,Hartlepool,-8,Does not apply,-8,Does not apply,0
1,E06000001,Hartlepool,-8,Does not apply,0,No qualifications,0
2,E06000001,Hartlepool,-8,Does not apply,1,Level 1 and entry level qualifications: 1 to 4...,0
3,E06000001,Hartlepool,-8,Does not apply,2,Level 2 qualifications: 5 or more GCSEs (A* to...,0
4,E06000001,Hartlepool,-8,Does not apply,3,Apprenticeship,0

In [4]:
he_gi.rename(columns={'Lower tier local authorities Code':'LA_code', 'Lower tier local authorities':'LA_name', 'Gender identity (7 categories) Code': 'GI_code', 'Gender identity (7 categories)': 'GI_categories', 'Highest level of qualification (8 categories) Code': 'HLE_code', 'Highest level of qualification (8 categories)': 'HLE_categories'}, inplace=True)

In [5]:
# Subset to get rid of irrelevant GI categories

he = he_gi[(he_gi['GI_code'] != -8) & (he_gi['HLE_code'] != -8)]

In [6]:
he.head()

,LA_code,LA_name,GI_code,GI_categories,HLE_code,HLE_categories,Observation
9,E06000001,Hartlepool,1,Gender identity the same as sex registered at ...,0,No qualifications,15799
10,E06000001,Hartlepool,1,Gender identity the same as sex registered at ...,1,Level 1 and entry level qualifications: 1 to 4...,6744
11,E06000001,Hartlepool,1,Gender identity the same as sex registered at ...,2,Level 2 qualifications: 5 or more GCSEs (A* to...,10465
12,E06000001,Hartlepool,1,Gender identity the same as sex registered at ...,3,Apprenticeship,4888
13,E06000001,Hartlepool,1,Gender identity the same as sex registered at ...,4,Level 3 qualifications: 2 or more A levels or ...,13230

In [13]:
# Let's calculate our percentages... 

he['Percentages'] = ''

for i in he.LA_name.unique():
    
    b = he[he['LA_name'] == i]
    
    perc = b.Observation / b.Observation.sum() * 100
    
    he.loc[b.index, 'Percentages'] = round(perc, 2)

In [23]:
he['Total_LA_counts'] = ''

for i in he.LA_name.unique():
    
    b = he[he.LA_name == i]
    
    tot = b.Observation.sum()
    
    he.loc[b.index, 'Total_LA_counts'] = tot

/var/folders/82/8svymys93qv3p2bzp21s9rsc0000gn/T/ipykernel_7368/4054964020.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  he['Total_LA_counts'] = ''

In [24]:
he

,LA_code,LA_name,GI_code,GI_categories,HLE_code,HLE_categories,Observation,Percentages,Total_LA_counts
9,E06000001,Hartlepool,1,Gender identity the same as sex registered at ...,0,No qualifications,15799,21.15,74686
10,E06000001,Hartlepool,1,Gender identity the same as sex registered at ...,1,Level 1 and entry level qualifications: 1 to 4...,6744,9.03,74686
11,E06000001,Hartlepool,1,Gender identity the same as sex registered at ...,2,Level 2 qualifications: 5 or more GCSEs (A* to...,10465,14.01,74686
12,E06000001,Hartlepool,1,Gender identity the same as sex registered at ...,3,Apprenticeship,4888,6.54,74686
13,E06000001,Hartlepool,1,Gender identity the same as sex registered at ...,4,Level 3 qualifications: 2 or more A levels or ...,13230,17.71,74686
...,...,...,...,...,...,...,...,...,...
18531,W06000024,Merthyr Tydfil,6,Not answered,2,Level 2 qualifications: 5 or more GCSEs (A* to...,329,0.69,47673
18532,W06000024,Merthyr Tydfil,6,Not answered,3,Apprenticeship,174,0.36,47673
18533,W06000024,Merthyr Tydfil,6,Not answered,4,Level 3 qualifications: 2 or more A levels or ...,253,0.53,47673
18534,W06000024,Merthyr Tydfil,6,Not answered,5,"Level 4 qualifications or above: degree (BA, B...",530,1.11,47673
18535,W06000024,Merthyr Tydfil,6,Not answered,6,Other: vocational or work-related qualificatio...,78,0.16,47673

In [ ]:
no_qual = he[(he.Religion_categories == 'No religion')]
atheist.head(10)

In [16]:
non_ans = he[he.GI_categories == 'Not answered']

In [17]:
non_ans['NR_rate'] = ''

for i in non_ans

,LA_code,LA_name,GI_code,GI_categories,HLE_code,HLE_categories,Observation,Percentages
49,E06000001,Hartlepool,6,Not answered,0,No qualifications,1393,1.87
50,E06000001,Hartlepool,6,Not answered,1,Level 1 and entry level qualifications: 1 to 4...,316,0.42
51,E06000001,Hartlepool,6,Not answered,2,Level 2 qualifications: 5 or more GCSEs (A* to...,455,0.61
52,E06000001,Hartlepool,6,Not answered,3,Apprenticeship,300,0.4
53,E06000001,Hartlepool,6,Not answered,4,Level 3 qualifications: 2 or more A levels or ...,497,0.67
...,...,...,...,...,...,...,...,...
18531,W06000024,Merthyr Tydfil,6,Not answered,2,Level 2 qualifications: 5 or more GCSEs (A* to...,329,0.69
18532,W06000024,Merthyr Tydfil,6,Not answered,3,Apprenticeship,174,0.36
18533,W06000024,Merthyr Tydfil,6,Not answered,4,Level 3 qualifications: 2 or more A levels or ...,253,0.53
18534,W06000024,Merthyr Tydfil,6,Not answered,5,"Level 4 qualifications or above: degree (BA, B...",530,1.11
18535,W06000024,Merthyr Tydfil,6,Not answered,6,Other: vocational or work-related qualificatio...,78,0.16