In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

# Sexual orientation

In [2]:
sex_s = pd.read_excel('/Users/loucap/Documents/GitWork/InteractiveGender/Data/Sex_SO.xlsx')

In [3]:
sex_s.rename(columns={'Lower tier local authorities Code':'LA_code', 'Lower tier local authorities':'LA_name', 'Sexual orientation (6 categories) Code': 'SO_code', 'Sexual orientation (6 categories)': 'SO_categories', 'Sex (2 categories) Code': 'Sex_c', 'Sex (2 categories)': 'Sex'}, inplace=True)

In [4]:
sex_s = sex_s[sex_s.SO_code != -8]

In [5]:
# Let's first get %'s of responses for each LA

sex_s['Percentages'] = ''


for i in sex_s.LA_code.unique():
    b = sex_s[sex_s.LA_code == i]
    percent = b['Observation'] / b['Observation'].sum() * 100
    sex_s.loc[b.index, 'Percentages'] = percent

In [6]:
# Now let's subset to get our non-response % for each LA

non_res = sex_s[sex_s.SO_code == 5]

In [7]:
w_nr_total = non_res[non_res.Sex == 'Female'].Observation.sum()
w_nr_total

1897782

In [8]:
m_nr_total = non_res[non_res.Sex == 'Male'].Observation.sum()
m_nr_total

1728861

In [9]:
w_Total = sex_s[sex_s.Sex == 'Female'].Observation.sum()
w_Total

25039027

In [10]:
w_nr_percent = round(w_nr_total / w_Total * 100,2)
w_nr_percent

7.58

In [11]:
m_Total = sex_s[sex_s.Sex == 'Male'].Observation.sum()
m_Total

23527349

In [12]:
m_nr_percent = round(m_nr_total / m_Total * 100,2)
m_nr_percent

7.35

In [13]:
# Calculate the total number of survey respondents for each sex
total_by_sex = sex_s.groupby('Sex')['Observation'].sum().reset_index()

In [14]:
total_by_sex

      Sex  Observation
0  Female     25039027
1    Male     23527349

In [15]:
nr_by_sex = non_res.groupby('Sex')['Observation'].sum().reset_index()

In [16]:
nr_by_sex

      Sex  Observation
0  Female      1897782
1    Male      1728861

In [17]:
nr_by_sex['Non_response_%'] = nr_by_sex.apply(lambda row: round(row['Observation'] / w_Total * 100, 2) if row['Sex'] == 'Female' else round(row['Observation'] / m_Total * 100, 2), axis=1)

In [18]:
nr_by_sex

      Sex  Observation  Non_response_%
0  Female      1897782            7.58
1    Male      1728861            7.35

In [19]:
from bokeh.layouts import column, row
from bokeh.models import ColumnDataSource, Select, HTMLTemplateFormatter
from bokeh.models.widgets import DataTable, TableColumn, Div
from bokeh.plotting import figure, show, curdoc

def create_datatable(source, columns):
    heading = Div(text=f"<h1>{columns[0].title}</h1>", width=300)
    data_table = DataTable(source=source, columns=columns, editable=False, width=500, index_position=None)
    return column(heading, data_table), data_table

source1 = ColumnDataSource(total_by_sex)

columns1 = [
    TableColumn(field="Sex", title="Sex"),
    TableColumn(field="Observation", title="Observation")]

layout, d_table1 = create_datatable(source1, columns1)

source2 = ColumnDataSource(nr_by_sex)

columns2 = [
    TableColumn(field="Sex", title="Sex"),
    TableColumn(field="Observation", title="Observation"),
    TableColumn(field="Non_response_%", title="Non response rate")]

layout1, d_table2 = create_datatable(source2, columns2)

# Gender identity

In [20]:
sex_g = pd.read_excel('/Users/loucap/Documents/GitWork/InteractiveGender/Data/Sex_GI.xlsx')

In [21]:
sex_g.rename(columns={'Lower tier local authorities Code':'LA_code', 'Lower tier local authorities':'LA_name', 'Gender identity (7 categories) Code': 'GI_code', 'Gender identity (7 categories)': 'GI_categories', 'Sex (2 categories) Code': 'Sex_c', 'Sex (2 categories)': 'Sex'}, inplace=True)

In [22]:
sex_g = sex_g[sex_g.GI_code != -8]

In [23]:
# Let's first get %'s of responses for each LA

sex_g['Percentages'] = ''


for i in sex_g.LA_code.unique():
    b = sex_g[sex_g.LA_code == i]
    percent = b['Observation'] / b['Observation'].sum() * 100
    sex_g.loc[b.index, 'Percentages'] = percent

In [24]:
# Now let's subset to get our non-response % for each LA

non_res_g = sex_g[sex_g.GI_code == 6]

In [25]:
# Calculate the total number of survey respondents for each religion
total_by_sex_g = sex_g.groupby('Sex')['Observation'].sum().reset_index()

In [26]:
total_by_sex_g

      Sex  Observation
0  Female     25039033
1    Male     23527378

In [27]:
nr_by_sex_g = non_res_g.groupby('Sex')['Observation'].sum().reset_index()

nr_by_sex_g

      Sex  Observation
0  Female      1449457
1    Male      1465166

In [28]:
w_Total_g = sex_g[sex_g.Sex == 'Female'].Observation.sum()
m_Total_g = sex_g[sex_g.Sex == 'Male'].Observation.sum()

In [29]:
nr_by_sex_g['Non_response_%'] = nr_by_sex_g.apply(lambda row: round(row['Observation'] / w_Total_g * 100, 2) if row['Sex'] == 'Female' else round(row['Observation'] / m_Total_g * 100, 2), axis=1)

In [30]:
nr_by_sex_g

      Sex  Observation  Non_response_%
0  Female      1449457            5.79
1    Male      1465166            6.23

In [31]:
nr_by_sex_g

      Sex  Observation  Non_response_%
0  Female      1449457            5.79
1    Male      1465166            6.23

In [32]:
source1 = ColumnDataSource(total_by_sex_g)

columns1 = [
    TableColumn(field="Sex", title="Sex"),
    TableColumn(field="Observation", title="Observation")]

layout, d_table1 = create_datatable(source1, columns1)

source2 = ColumnDataSource(nr_by_sex_g)

columns2 = [
    TableColumn(field="Sex", title="Sex"),
    TableColumn(field="Observation", title="Observation"),
    TableColumn(field="Non_response_%", title="Non response rate")]

layout1, d_table2 = create_datatable(source2, columns2)

In [33]:
show(d_table2)

# Outputs

In [34]:
total_by_sex.to_csv('/Users/loucap/Documents/GitWork/InteractiveGender/Data/sex_totals_SO_2.csv', index = False)
nr_by_sex.to_csv('/Users/loucap/Documents/GitWork/InteractiveGender/Data/nr_totals_SO_2.csv', index = False)
total_by_sex_g.to_csv('/Users/loucap/Documents/GitWork/InteractiveGender/Data/sex_totals_GI_2.csv', index = False)
nr_by_sex_g.to_csv('/Users/loucap/Documents/GitWork/InteractiveGender/Data/nr_totals_GI_2.csv', index = False)